# "true"ならば:80でサーバが稼働する
# "false"ならば:5000でサーバが稼働する
DEV=true

# JWTの秘密鍵
JWT_SECRET=randomstring

# Postgresのホスト名
# docker-compose.ymlのサービス名称と一致させること
POSTGRES_HOST=db

# Postgresのデータベース名
POSTGRES_DB=database

# Postgresのユーザ名
POSTGRES_USER=user

# Postgresのパスワード
POSTGRES_PASSWORD=password
