.searchResult {
  padding: 0 1rem;
}

.foundUser {
  margin-bottom: 2px;
}

.foundUser_userName {
  margin-bottom: 1px;
}

.foundUser_userId {
  margin-left: 2px;
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
}
