.tweets {
  padding: 0 1rem;
}

.singleTweet {
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}

.singleTweet_userName {
  font-weight: bold;
}

.singleTweet_userId {
  margin-left: 2px;
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
}

